# Frontend on Vercel
NEXT_PUBLIC_API_URL="https://homestaytayninh-backend.onrender.com"
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
GOOGLE_REDIRECT_URI="https://homestaytayninh-frontend.vercel.app/auth/callback"
